html, body {
	background: #e0e0e0;
}

.hero-unit {
	margin: 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#comments {
	border-top: 1px solid #ccc;
	margin-top: 2em;
	padding-top: 2em;
}

#main {
	background: #fff;
	margin-top: 2em;
	margin-bottom: 2em;

	box-shadow: 0 0.1em 1em rgba(100, 100, 100, 0.3);

	-webkit-border-radius: 50px 50px 5px 5px;
	-moz-border-radius: 50px 50px 5px 5px;
	border-radius: 50px 50px 5px 5px;
}

#header {
	padding: 1em 2em;
	background: #303030;
	color: #fff;
	font-size: 1.25em;
	overflow: hidden;

	background: -o-linear-gradient(top,#444,#333);
	background: -ms-linear-gradient(top,#444,#333);
	background: -moz-linear-gradient(top,#444,#333);
	background: -webkit-linear-gradient(top,#444,#333);
	background: linear-gradient(top,#444,#333);

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#header p {
	font-style: italic;
}

.navbar-inner {
	border-width: 1px 0 1px 0;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar .nav>li>a {
	color: #555;
	font-size: 1.15em;
}

.nav-tabs.nav-stacked>li.active>a,
.nav-tabs.nav-stacked>li.active>a:hover {
	color: #fff;
	background: #08C;
}

.nav-tabs.nav-stacked>li:first-child>a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.nav-tabs.nav-stacked>li:last-child>a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

#content {
	padding: 0 2em;
}

code {
	white-space: normal;
	word-wrap: break-word;
}

.api {
	min-height: 20px;
	padding: 10px 19px;
	margin-bottom: 20px;
	border: 1px solid #E3E3E3;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.api h3, .api h4 {
	line-height: 1;
	padding: .25em 0;
	border-bottom: 1px solid #ddd;
	margin-top: .15em;
	margin-bottom: .75em;
}
.api h4 { margin-top: 1.5em; }

.method .since {
	font-size: 75%;
	float: right;
}

.parameters {
	border: 1px solid #E3E3E3;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.api .parameter {
	padding: 5px 19px;
	margin-bottom: 0;
	border: 0;
	border-bottom: 1px solid #E3E3E3;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.api .parameter:last-child { border: 0; }

.api .parameter p {
	margin: 10px 0;
}

.api .examples {
	margin: 26px -19px -10px;
	border-width: 0;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.api .examples h2 {
	font-size: 1.5em;
}

#footer {
	border-top: 1px solid #ccc;
	margin: 0 2em;
	padding: 1.75em 1em 1em;
	line-height: 1;
}

@media print {
	.docs .span3, .nav, .navbar, .pager {
		display: none !important;
	}

	#footer a:after {
		display: none !important;
	}
}
