
    <footer class="Footer">
        <div class="Footer__container">
            <p class="Footer__credits">
                &copy; 2017 <a href="https://github.com/samclarke">Sam Clarke</a>
                &mdash;
                Hosted by <a href="http://pages.github.com">GitHub Pages</a>
            </p>

            <p class="Footer__edit">
                <a href="https://github.com/samclarke/sceditor.com/tree/v2-netlify/content/{{ .File.Path }}">Edit this page</a>
            </p>
        </div>
    </footer>

    <script>
        var _paq = [
            ['setDomains', ['*.sceditor.com']],
            ['trackPageView'],
            ['enableLinkTracking'],
            ['setTrackerUrl', 'https://www.samclarke.com/piwik/piwik.php'],
            ['setSiteId', '2']
        ];
    </script>
    <script src="https://www.samclarke.com/piwik/piwik.js" async></script>
</body>
</html>
