
    <footer class="Footer">
        <div class="Footer__container">
            <p class="Footer__credits">
                &copy; 2024 <a href="https://github.com/samclarke">Sam Clarke</a>
                &mdash;
                Hosted by <a href="https://www.netlify.com/">Netlify</a>
            </p>

            <p class="Footer__edit">
                {{ with .File }}
                <a href="https://github.com/samclarke/sceditor.com/tree/v2-netlify/content/{{ .Path }}">Edit this page</a>
                {{ end}}
            </p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js" defer></script>
    <script>
        var style = document.createElement('link');
        style.rel = 'stylesheet';
        style.href = 'https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css';
        document.head.appendChild(style);

        addEventListener('DOMContentLoaded', function() {
            document.getElementById('docsearch-hide').style.display = 'flex';
            var search =  docsearch({
                appId: 'UFGR0MKQ3J',
                apiKey: '6eb0a955539ceb9929928cdc2e4debbc',
                indexName: 'sceditor',
                inputSelector: '#search-input'
            });
        });

        var _paq = [
            ['setDomains', ['*.sceditor.com']],
            ['trackPageView'],
            ['enableLinkTracking'],
            ['setTrackerUrl', 'https://www.samclarke.com/p'],
            ['setSiteId', '2']
        ];
    </script>
    <script src="https://www.samclarke.com/p.js" async></script>
</body>
</html>
