<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} - SCEditor</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://www.samclarke.com">

    {{ $style := resources.Get "css/style.css" | postCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,700i|Source+Code+Pro:400,700&display=swap">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
    <script src="/js/prism.js" defer></script>

    <link rel="alternate" href="/posts/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
    <link rel="feed" href="/posts/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
    
    <link rel="image_src" href="/images/thumbs/square-small.png">

    <meta property="dc:language" content="en">
    <meta property="dc:title" content="SCEditor">
    <meta property="dc:description" content="A lightweight, open source, WYSIWYG BBCode and (X)HTML editor.">
    <meta property="dc:source" content="https://www.sceditor.com/">

    <meta property="og:title" content="SCEditor">
    <meta property="og:description" content="A lightweight, open source, WYSIWYG BBCode and (X)HTML editor.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.sceditor.com/images/thumbs/square-small.png">
    <meta property="og:url" content="https://www.sceditor.com/">
    
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="SCEditor">
    <meta property="twitter:description" content="A lightweight, open source, WYSIWYG BBCode and (X)HTML editor.">
    <meta property="twitter:image" content="https://www.sceditor.com/images/thumbs/square-small.png">
    <meta property="twitter:site" content="@sceditor">
</head>
<body>
    <header class="Header">
        <div class="Header__container">
            <h1 class="Header__title">
                <a class="Header__link" href="/">SCEditor</a>
            </h1>

            <nav class="Header__nav">
                <ul class="Header__menu Menu">
                    <li class="Menu__item Header_search" id="docsearch-hide">
                        <input type="text" id="search-input" class="Header__searchbox" placeholder="Search the docs...">
                        
                        <label for="search-input" class="Header__searchlabel">
                            <svg fill="#000000" viewBox="0 0 24 24" class="Header__searchicon" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                                <path d="M0 0h24v24H0z" fill="none"/>
                            </svg>
                        </label>
                    </li>
                    <li class="Menu__item">
                        <a class="Menu__link" href="/posts/">News</a>
                    </li>
                    <li class="Menu__item">
                        <a class="Menu__link" href="/documentation/">Docs</a>

                        <ul class="Menu__submenu Menu">
                            <li class="Menu__item">
                                <a class="Menu__link" href="/documentation/getting-started/">Getting started</a>
                            </li>
                            <li class="Menu__item">
                                <a class="Menu__link" href="/documentation/options/">Options</a>
                            </li>
                            <li class="Menu__item">
                                <a class="Menu__link" href="/documentation/formats/">Formats</a>
                            </li>
                            <li class="Menu__item">
                                <a class="Menu__link" href="/documentation/plugins/">Plugins</a>
                            </li>
                            <li class="Menu__item">
                                <a class="Menu__link" href="/api/">API</a>
                            </li>
                        </ul>
                    </li>
                    <li class="Menu__item">
                        <a class="Menu__link" href="/integration/">Integrations</a>
                    </li>
                    <li class="Menu__item">
                        <a class="Menu__link" href="/documentation/support-licensing/">Support</a>
                    </li>
                    <li class="Menu__item">
                        <a class="Menu__link" href="https://github.com/samclarke/SCEditor">GitHub</a>
                    </li>
                    <li class="Menu__item">
                        <a class="Menu__link Menu__link--download" href="{{ .Site.Params.downloadUrl }}">Download</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>