<article class="ApiMethod">
    <h3 class="ApiMethod__title">
        <a id="height" href="#height-value" class="ApiMethod__link">{{ .Get "name" }}</a>
        <span class="ApiMethod__since">Since: {{ .Get "since" }}</span>
    </h3>

    {{ .Inner }}

    
    <!-- <div class="ApiMethod__parameters">
        <div class="ApiMethod__parameter">
            <p><strong>value</strong><br>
            Type: <em><a href="/api/types/#int">Int</a></em> or <em><a href="/api/types/#string">String</a></em></p>

            <p>Should either be the height in pixels or a string percentage.</p>
        </div>
    </div>

    <article class="ApiMethod__exmaple">
        <h3 class="ApiMethod__subtitle">Examples</h3>

        <p>Set the height to 200px:</p>

        <pre class="language-js"><code>$('textarea').sceditor('instance').height(200);
</code></pre>
    </article> -->
</article>