---
layout: disqus
url_parts:
  - api: API
  - sceditor: SCEditor
  - dom: DOM
  - rangehelper: RangeHelper
---

<ul class="breadcrumb">
	<li><a href="/documentation/">Documentation</a> <span class="divider">/</span></li>
{%	assign base = '/' %}
{%	assign crumbs = page.url | split: '/' %}
{%	for crumb in crumbs %}
{%		unless forloop.last %}
{%			for part_hash in layout.url_parts %}
{%				for part in part_hash %}
{%					if part[0] == crumb %}
						<li><a href="{{ base }}{{ crumb }}/">{{ part[1] }}</a> <span class="divider">/</span></li>
{%						assign base = base | append: crumb | append: '/' %}
{% 					endif %}
{%				endfor %}
{%			endfor %}
{%		endunless %}
{%	endfor %}
	<li class="active">{{ page.title }}</li>
</ul>

{% if page.api_category %}
{% 	assign api_title = page.api_title %}
{% 	assign api_category = page.api_category %}
{% elsif page.categories contains 'SCEditor-API' %}
{% 	assign api_title = 'SCEditor' %}
{% 	assign api_category = 'SCEditor-API' %}
{% elsif page.categories contains 'DOM-API' %}
{% 	assign api_title = 'DOM' %}
{% 	assign api_category = 'DOM-API' %}
{% else %}
{% 	assign api_title = 'RangeHelper' %}
{% 	assign api_category = 'RangeHelper-API' %}
{% endif %}

<div class="row-fluid docs">
	<div class="span3">
		<h5>{{api_title}}</h5>
		<ul class="nav nav-tabs nav-stacked">
{% 		assign sorted_pages = (site.html_pages | sort: 'title') %}
{% 		for link in sorted_pages %}
{% 			if link.categories contains api_category %}
{% 				if page.url == link.url %}
					<li class="active"><a href="{{ link.url }}">{{ link.title }}</a></li>
{% 				else %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
{% 				endif %}
{% 			endif %}
{% 		endfor %}
		</ul>
	</div>
	<div class="span9">
		{{ content }}
	</div>
</div>

<ul class="pager">
{% assign sorted_pages = (site.html_pages | sort: 'title') %}
{% for link in sorted_pages %}
{% 	if link.categories contains api_category %}
{% 		if page.url == link.url %}
{% 			if prev %}
			<li class="previous"><a href="{{ prev.url }}">&larr; {{ prev.title }}</a></li>
{% 			endif %}

{% 			assign next = true %}
{% 		elsif next %}
			<li class="next"><a href="{{ link.url }}">{{ link.title }} &rarr;</a></li>
{% 			assign next = nil %}
{% 		else %}
{% 			assign prev = link %}
{% 		endif %}
{% 	endif %}
{% endfor %}
</ul>
