---
layout: default
---
{{ content }}

{% if site.disqus %}
<div id="comments">
	<div id="disqus_thread"></div>

	<script>
	var disqus_config = function () {
        this.page.url = 'http://www.sceditor.com{{ page.url }}';
    };
	(function() {
		var d = document.createElement('script'); d.async = true;
		d.src = 'https://sceditor.disqus.com/embed.js';
		(document.head || document.body).appendChild(d);
	})();
	</script>
	<noscript>Please enable JavaScript to view the comments.</noscript>
</div>
{% endif %}
